<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(MainLayout).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p style="color:red; font-size: 25px;">Кечирасиз биз малумотлар топа олмадик</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<AntContainer /> 